extends layout
block content
    .container
      .tabbable
        ul.nav.nav-tabs
         
          li
            a(href='#pane2', data-toggle='tab')
              i.icon-th-list
              | Quotes
          li
            a(href='#pane3', data-toggle='tab')
              i.icon-th
              | Grid View
      .tab-content
        .tab-content
          
          #pane1.tab-pane
            #main
              table#sorter.sortable
                thead
                  tr
                    th Company
                    th Interest Rate
                    th Amount
                    th.sorttable_nosort Status
                    -each qalc in qalcs
                        tr
                          td #{offer.company}
                          td #{offer.interest}
                          td #{offer.amount}
                          td
                            button.btn.btn-primary Accept
                            button.btn.btn-danger Reject
                
                  
          #pane2.tab-pane
            .span9
            .span9
              .row-fluid
                ul.thumbnails
                    -each qalc in qalcs
                        li.span3
                          .thumbnail(style='padding: 0;')
                            div(style='padding: 4px;')
                              img(alt='300x200', style='width: 100%;', src='img/Acura.jpg')
                            .caption
                              h2 #{qalc.name}
                              p #{qalc.description}
                              p
                                i.icon.icon-map-marker
                                | City, State
                            .modal-footer
                              .row-fluid
                                .span4
                                  b #{qalc.quote}
                                  br
                                  small Quote
                                .span4
                                  b #{qalc.interest}
                                  br
                                  small Interest
                                .span4
                                  b #{qalc.months}
                                  br
                                  small Months
                                .span12(style='text-align: center;')
                                  h3
                                    | #{qalc.monthly}
                                    small /mo
                          
                            .modal-footer(style='text-align: center;')
                              .btn-group
                                button.btn.btn-primary(disabled='disabled') Accepted
                    //
                      /row
                  //
                    /span
              //
                 /.tab-content 

   
    script(src='./js/jquery.js')
    script(src='./js/bootstrap.js')
    script(src='js/jquery.js', type='text/javascript')
    script(src='js/sorttable.js', type='text/javascript')
    style(type='text/css')
      #main {
      padding: 5px;
      }
      #main td {
      border: 1px solid #000000;
      padding: 3px;
      font-size: .9em;
      }
      #main th {
      border: 1px solid #000000;
      background-color: #CCFFCC;
      }
